@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #f0f2f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a,
img {
  -webkit-user-drag: none;
}

hr {
  border: 1px solid;
  border-color: #d3d3d3;
}